        /* AUFGABE 1: 1>Paragraph 1 in der ersten Section */
        
        /* .red { color: gold; }


        /* AUFGABE 2: selektiere 3>Paragraph Z   */

        /*.class-2 {
            font-weight: bold;
        }

        /* AUFGABE 3: 2>Paragraph in erster und zweiter Section */

        /* #sec1 .class-2,
        #sec2 .class-2 {
            font-size: large;
        }

        /* AUFGABE 4: 3>Paragraph Z in der zweiten section */

        /* #sec2 .class-2 {
            font-size: large;
        }

        /* AUFGABE 5: alle gruenen list items */

        /* .green li {
            background-color: lightgreen;
        }

        /* AUFGABE 6: jeweils die ersten beiden list items */

        /*.ul li:nth-child(-n+2) {
            color: purple;
        }

        /* AUFGABE 7: jeweils die ersten beiden list items der blauen und gruenen section */

        /* .blue li:nth-child(-n+2),
        .green li:nth-child(-n+2) {
            color: purple;
        }

        /* AUFGABE 8: Paragraphs in den ersten beiden sections */
        /* #sec1 , #sec2 p {
            color: teal;
        }
            